<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.css">
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/2.3.1/js/dataTables.js"></script>
</head>
<body>

<!--
<script type="text/javascript"
        src="https://cdn.datatables.net/scroller/2.4.3/js/dataTables.scroller.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/scroller/2.4.3/js/scroller.dataTables.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/keytable/2.12.1/js/dataTables.keyTable.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/keytable/2.12.1/js/keyTable.dataTables.js"></script>

-->

<h1>Blind Matrix Software</h1>
<h1>DataTable</h1>
<pre>
    <table id="example" class="display" cellspacing="0" width="100%">
    </table>
</pre>

<script type="text/javascript">
$(document).ready(function () {
    var my_columns = [];
    var dataObject = [];
    $.ajax({
        type: "POST",
        url: "/api/getDataColumns",
        dataType: "json",
        contentType: 'application/json; charset=utf-8',
        success: function (response) {
            dataObject = eval(response);
            new DataTable('#example', {
                columns: dataObject,
                searching: true,
                dataType: "json",
                processing: true,
                serverSide: true,
                /*cache: false,
                timeout: 600000,
                layout: {
                    topStart: null,
                    topEnd: 'paging'
                },
                dom: 'Bfrtip',
                buttons: [
                    'colvis',
                    'excel',
                    'print'
                ],
                scrollY: 300,
                scrollX: 500,
                paging: true,*/
                ajax: {
                    url: '/api/getData',
                    contentType: 'application/json',
                    dataType: "json",
                    type: 'POST'
                }
            });
        }
    });
    console.log('DTB DONE DTB !!!!!!!!!!!!!!!!!!!!!!!!!!!!  ::::  ');
});
</script>

</body>
</html>