<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.css">
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/2.3.1/js/dataTables.js"></script>

    <style type="text/css">
        .center {
            margin: auto;
            width: 100%;
            border: 2px solid green;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="center">
    <h2><font color="blue">Blank Matrix Data Systems Application :: Snowflake Data Reports</font></h2>
    <h2>${blankMatrixSystemsRequestData.query}</h2>
    <h2>${blankMatrixSystemsRequestData.numberOfResults}</h2>
    <form action="#" th:action="@{/basic-data-details}" th:object="${blankMatrixSystemsRequestData}" method="post">
        <p>Id: <input type="text" th:field="*{query}" /></p>
        <p>Message: <input type="text" th:field="*{numberOfResults}" /></p>
        <p><input type="submit" value="Submit" /> </p>
    </form>
    <form:form method="POST"
               action="/basic-data-details" modelAttribute="blankMatrixSystemsRequestData">
        <table align="center">
            <tr>
                <td valign="top">
                    <label for="query"><font color="blue">HTML</font></label><br>
                    <form:textarea id="query" path="query" value="${blankMatrixSystemsRequestData.query}" name="query" rows="8" cols="90">Snowflake SQL Query:</form:textarea>
                </td>
                <td valign="top">
                    <label for="numberOfResults"><font color="blue">Number of Results: LIMIT Optional</font></label><br>
                    <form:input type="text" path="numberOfResults"  value="${blankMatrixSystemsRequestData.numberOfResults}" id="numberOfResults" name="numberOfResults" width="100%"
                                height="äuto"><font color="blue">Number of Results: LIMIT Optional</font></form:input>
                    <br/></td>
                <td valign="top"><input type="submit" class="button-submit" id="btnSubmit"
                                        name="btnSubmit" value="Submit Query - Get Snowflake Data"/></a></td>
            </tr>
        </table>
    </form:form>
</div>

<pre>
    <table id="example" class="display nowrap cell-border compact hover order-column row-border stripe"
           cellspacing="0" width="100%" height="auto">
    </table>
</pre>

<script type="text/javascript">
    function submitQueryAndDataTableResults() {
        $("#btnSubmit").prop("disabled", true);
        var dataObject = [];
        $.ajax({
            type: "POST",
            url: "/blank-matrix-systems/apis/execute-query/results",
            dataType: "json",
            data: "{ \"query\"" + " : \"" + $("#query").val() + "\" , \"numberOfResults\" : \"" + $("#numberOfResults").val() + "\" }",
            contentType: 'application/json; charset=utf-8',
            processing: true,
            success: function (response) {
                dataObject = eval(response);
                $('#example').dataTable({
                    searching: true,
                    columnDefs: [
                        {className: "dt-body-left", targets: "_all"},
                        {className: "dt-head-left", targets: "_all"},
                    ],
                    columns: dataObject.headers,
                    dataType: "json",
                    cache: false,
                    timeout: 600000,
                    scrollY: true,
                    scrollX: true,
                    paging: true,
                    processing: true,
                    ajax: {
                        url: '/blank-matrix-systems/apis/api/getData',
                        contentType: 'application/json',
                        dataType: "json",
                        type: 'POST',
                        processData: true
                    }
                });
                $("#btnSubmit").prop("disabled", false);
            }
        });
        console.log('DTB DONE DTB !!!!!!!!!!!!!!!!!!!!!!!!!!!!  ::::  ');
    }
    console.log('${blankMatrixSystemsRequestData.query}');
    $(document).ready(function () {
        $("#btnSubmit").click(function (event) {
            event.preventDefault();
            submitQueryAndDataTableResults();
        });
    });

</script>

</body>
</html>